# systemd service
# https://systemd.io/
# https://www.freedesktop.org/software/systemd/man/latest/systemd.service.html

# Dependencies:
# sudo apt install mosquitto-clients

[Unit]
Description=Mosquitto Subscriber
Documentation=https://mosquitto.org/man/mosquitto_sub-1.html

[Service]
ExecStart=/bin/bash -c "/usr/bin/mosquitto_sub >> /tmp/data.csv"
# Automatically restart the service if it crashes
Restart=on-failure
# Our service will notify systemd once it is up and running
# https://www.freedesktop.org/software/systemd/man/latest/systemd.service.html#Type=
Type=exec
# Use a dedicated user to run our service
User=balance-subscriber
# Disable resource control delegation (this is a very simple service)
# https://www.freedesktop.org/software/systemd/man/latest/systemd.resource-control.html#Delegate=
Delegate=no

[Install]
# Start on boot (assuming the service is enabled)
WantedBy=default.target
